# Virtual Environments
.venv
venv/

# Environment Variables
.env

# PyCache
browser-agent/__pycache__
__pycache__

# Gradio
tmp/

# Browser use variable
agent_history.gif
browser_agent/agent_history.gif